<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
My First Django App
    </title>
    <link rel="stylesheet" href= "{% static 'css/my_style.css'%}">
</head>
<body>
<h1>Hello, Wahyu Mulia Maharani</h1>


<p>ini logo css</p>
<div class="gambar">
<img src="{% static 'images/css.png' %}" alt="ini logo css">
</div>
<h2>This is your access record</h2>
<div class="djangotwo">
    {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No access records found.</p>
      {% endif %}

</div>
</body>

</html>