<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
</head>
<body>
    <h1>This is our Customers List!</h1>
    {% if customers %}
    <ol>
        {% for person in customers %}
        <li>
            Customer Info
            <ul>
                <li>First name: {{ person.first_name }}</li>
                <li>Last name: {{ person.last_name }}</li>
                <li>Email: {{ person.email }}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>
